/*Declaramos la fuente porque utilizamos una de las que no estan*/
@font-face {
    font-family: 'Actor Regular';
    src: url('../UI/Fonts/Actor-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
  }

  @font-face {
    font-family: 'Kenia Regular';
    src: url('../UI/Fonts/Kenia-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
  }
  @media (min-width: 1280px){
    
  }
  @media (min-width: 750px) {
    header{
  border-width: 10px;
  border-color: black;
}

.idk{
  display: flex;
  justify-content: flex-start;
}
hr{
  height: 5px;
  background-color: black;
}
body{
    background: radial-gradient(white,rgb(135, 255, 161));
    background-repeat: no-repeat;
    height: 100%;
    margin: 0;
    background-attachment: fixed;
}

.menu{
    padding: 0px;
    margin: 0px;
    width: 500px;
    margin:0px;
    font-size: 20px;
    border-radius: 40px;
}


/* menu */

.menu ul {
    list-style:none;
    margin:0;
    padding:0;
   }
   
   /* items del menu */
   

   
   /* enlaces del menu */
   
.menu ul a {
    display:block;
    color:#fff;
    text-decoration:none;
    font-size:25px;
    padding:10px;
    /*text-transform:uppercase;*/ /*Lo iba a Usar pero por los errores gramaticales me veo en la necesidad de quitarlo*/
    letter-spacing:1px;
   }

   .category{
    background-color: gray;
    display: flex;
   }

   .HELP{
    background-color: black;
   }

   /* items del menu */
   .menu ul li {
    position:relative;
    float:left;
    text-align: center;
    align-items: center;
    height: 70px;
    border-radius: 40px;
    font-family: Actor Regular;
   }
   
   /* efecto al pasar el ratón por los items del menu */
   
   .menu ul li:hover {
    background:#8b8b8b;
    font-family: Actor Regular;
   }

   /* menu desplegable ---Tambien los elementos del Submenu*/

    .menu ul ul {
    display:none;
    position:absolute;
    top:100%;
    left:0;
    font-family: Actor Regular;
    background:#eee;
    border-radius: 20px;
    padding:0;
   }
   
   /* items del menu desplegable */
   .menu ul ul li {
    float:none;
    width:150px;
    font-family: Kenia Regular;
    margin:5px;
   }
   /* enlaces de los items del menu desplegable */

   .menu ul ul a {
    line-height:100%;
    padding:10px 15px;
   }
   
   /* items del menu desplegable al pasar el ratón */
   
   .menu ul li:hover > ul {
    display:block;
    transform: scale(1.05);
   }

   input{
    display: flex;
    border-radius: 40px;
    font-size: 30px;
   }

    input text{
      size: 30;
    }


   .User_icon img{
    width: 50px;
    margin: 10px;
   }

   .User_icon img:hover{
    transform: scale(1.25);
   }

   .User_icon{
    display: flex;
    margin-left: 40px;
    justify-content: space-between;
   }
/**/

/**/
.input::placeholder{
  background-image: url('../UI/Icons/search.svg'); /* Ruta de la imagen */
  background-position: 0px;
  background-size: 30px;
  background-repeat: no-repeat;
}

input{
    border: 1px solid #000000;
    padding: 5px;
    border-radius: 45px;
}

.input{
  display: flex;
  align-items: center;
  justify-content: start;
}

.icon {
    margin-right: 8px; /* Espacio entre el ícono y el input */
    font-size: 18px; /* Ajusta el tamaño del ícono si es necesario */
}

.recomended{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  margin: 0px;
  padding: 0px;
  font-family: Kenia Regular;
  border-color: black;
}

.home{
  display: flex;
  float: left;
}
.home img{
  width: 70px;
}

.home:hover{
  transform: scale(1.25);
}

.recomended img{
  width: 400px;
}


.shpp{
  background-color: black;
  padding: 40px;
  color: white;
  border-radius: 20px;
  font-family: Actor Regular;
  width: 400px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  align-items: center;

  margin-top: -500px;
  margin-left: 1000px;
}
.shpp2{
  background-color: black;
  padding: 40px;
  color: white;
  border-radius: 20px;
  font-family: Actor Regular;
  width: 400px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  align-items: center;

  margin-top: -400px;
  margin-left: 1000px;
}
.shpp3{
  background-color: black;
  padding: 40px;
  color: white;
  border-radius: 20px;
  font-family: Actor Regular;
  width: 400px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.shpp3 a{
  margin: 30px;
}
.shpp3 h1{
  margin: 30px;
  text-align:start;
}

.shppglobal3{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: 0px;
}

.shpp32{
  display: flex;
  justify-content: center;
}
.shpp3 input{
  margin: 10px;
}
.shpp3 a{
  text-decoration: none;
  color: white;
  font-family: Kenia Regular;
  text-align: center;
  font-size: 40px;
  margin-top: 20px;
}
.product1 h1{
  font-family: Kenia Regular;
  font-size: 30px;
}
.shpp3 a:hover{
  margin-top: 30px;
  border-radius: 20px;
  transform: scale(1.25);
  background-color: white;
  color: black;
}

.shpp3 input{
  margin: 10px;
}
.shpp a{
  text-decoration: none;
  color: white;
  font-family: Kenia Regular;
  text-align: center;
  font-size: 40px;
}
.shpp a:hover{
  margin-top: 10px;
  border-radius: 20px;
  transform: scale(1.25);
  background-color: white;
  color: black;
}
.shpp2 a{
  text-decoration: none;
  color: white;
  margin: 10px;
  font-family: Kenia Regular;
  text-align: center;
  font-size: 40px;
}
.shpp2 a:hover{
  margin-top: 10px;
  border-radius: 20px;
  transform: scale(1.25);
  background-color: white;
  color: black;
}
.shpp img{
  width: 300px;
  margin-left: 40px;
}

.shpp3 img{
  width: 300px;
  margin-left: 37px;
  margin-top: 50px;
}

.parraforandom{
  background-color: white;
  width: 560px;
  height: 500px;
  display: flex;
  flex-direction: column;
  border-radius: 50px;
}

.parraforandom h2{
  font-family: Kenia Regular;
  font-size: 40px;
  text-align: center;
}

.parraforandom p{
  font-family: Kenia Regular;
  font-size: 40px;
  text-align: center;
}

.center1{
  text-align: center;
  font-family: Kenia Regular;
  font-size: 40px
}

.product1{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
}

.product1 img{
  margin: 20px;
  border-radius: 50px;
  width: 300px;
  height: 300px;
}

.recomended1{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  margin-top: 0px;
  font-family: Kenia Regular;
  border-color: black;
}

.recomended1 img{
  width: 300px;
}

.logo-login {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: Kenia Regular;
  padding: 0px;
  margin: 0px;
  font-size: 40px;
}

.logo-login p{
  margin-top: -20px;
}

.logo-login img{
  width: 100px;
}

.data{
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  background-color: black;
  color: white;
  border-radius: 50px;
  padding: 50px;
  margin: 0px;
  width: 30%;
  font-family: Actor Regular;
}

.data input{
  margin: 10px;
  font-family: Actor Regular;
  height: 40px;
}

.enter{
  text-align: center;
  font-family: Kenia Regular;
  font-size: 40px;
}

.enter a{
  text-decoration: none;
  color: white;
}

.enter a:hover{
  color: black;
}

.enter p:hover{
  background-color: white;
  border-radius: 20px;
  text-align: center;
}

.DESIGN{
  margin-top: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.DESIGN P{
  font-size: 40PX;
}

.foreground{
  background-color: white;
  border-radius: 20px;
  color: black;
}
.easteregg a{
  background-color: gray;
}

.fondaso{
  background: radial-gradient(white,rgb(135, 255, 161));
  background-repeat: no-repeat;
  height: 100%;
  background-attachment: fixed;
}

.contactenos{
  background-color: white;
  display: flex;
  width: 600px;
  height: 550px;
  border-radius: 50px;
  align-items: center;
  justify-content: space-evenly;
}

.contactenos2{
  background-color: white;
  padding: 10px;
  width: 600px;
  height: 600px;
  text-align: center;
  display: flex;
  flex-direction: column;
  font-family: Kenia Regular;
  font-size: 40px;
  border-radius: 50px;
}


.displayer{
  display: flex;
  justify-content: start;
  margin: 0px;
  padding: 0px;
}

.container-contact{
  display: flex;
  justify-content: space-around;
  margin-top: 25px;
}

.contactenos-sv{
  font-family:  Actor Regular;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contactenos-sv img{
  width: 50px;
}

.contactenos-eu{
  font-family:  Actor Regular;
  font-size: 20px;
  display: flex;
  flex-direction: column;
}

.contactenos-eu img{
  width: 50px;
}

footer{
  display: flex;
  font-family: Actor Regular;
  align-items:flex-end;
  justify-content: center;
  background: white;
  color: black;
  margin-top: 100px;
  text-align: center;
  padding: 40px;
}
  }
